<div class="container">
    <div class="heading">
        <div class="title">
            Game Results
        </div>
    </div>
    <div class="body">
        <div id="global-score">
            <span>rank:</span>
            <h1>3</h1>
        </div>
        <div class="section">
            <a href="#/" class="btn large">Main</a>
            <a href="#/leaderboard" class="btn large">Leaderboard</a>
        </div>
        <div class="section">
            <h2>Total Game Revenue</h2>
            <a class="btn large blue">${{ totalrevenue }}</a>
        </div>
        <div class="section">
            <h2>Total Global Revenue</h2>
            <a class="btn large blue">${{ totalglobalrevenue }}</a>
        </div>
        <ul class="table">
            <li class="row head">
                <div class="col3">
                    Rank
                </div>
                <div class="col3">
                    Name
                </div>
                <div class="col3">
                    Score
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    1
                </div>
                <div class="col3">
                    Steve
                </div>
                <div class="col3">
                    198
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    2
                </div>
                <div class="col3">
                    Joe
                </div>
                <div class="col3">
                    190
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    3
                </div>
                <div class="col3">
                    Jim
                </div>
                <div class="col3">
                    175
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    4
                </div>
                <div class="col3">
                    Susan
                </div>
                <div class="col3">
                    150
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    5
                </div>
                <div class="col3">
                    Jennifer
                </div>
                <div class="col3">
                    140
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    6
                </div>
                <div class="col3">
                    James
                </div>
                <div class="col3">
                    100
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    7
                </div>
                <div class="col3">
                    Blaze
                </div>
                <div class="col3">
                    75
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    8
                </div>
                <div class="col3">
                    Chang
                </div>
                <div class="col3">
                    60
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    9
                </div>
                <div class="col3">
                    Jane
                </div>
                <div class="col3">
                    59
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    10
                </div>
                <div class="col3">
                    ty
                </div>
                <div class="col3">
                    40
                </div>
            </li>
        </ul>
    </div>
</div>