<div class="container">
    <div class="heading">
        <div class="title">
            <h1>Playing the AI!</h1>
        </div>
    </div>
    <div>

    </div>
    <div class="body">
        <div class="text-body">
            <p><strong>Step 1:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum nisl, volutpat nec eros a, vulputate eleifend sem. Phasellus lobortis accumsan nisl, commodo suscipit arcu tincidunt sodales.</p>
            <p><strong>Step 2:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum nisl, volutpat nec eros a, vulputate eleifend sem.</p>
            <p><strong>Step 3:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum nisl, volutpat nec eros a, vulputate eleifend sem. Phasellus lobortis accumsan nisl, commodo suscipit arcu tincidunt sodales.</p>
        </div>
        <ul>
            <li class="large">
                <a href="#/playAIInvest">Continue...</a>
            </li>
        </ul>
    </div>
</div>