<div class="container">
    <div class="heading">
        <div class="title">
            Compete?
        </div>
    </div>
    <div class="body">
        <div class="section">
            <h2>
                Current Round: {{ currentround}}
            </h2>
        </div>
        <div class="section">
            <h2>Current R&amp;D</h2>
            <a class="btn large blue">Level: {{ rdlevel }}</a>
        </div>
        <div class="section">
            <h2>Want to Compete {{ name }}?</h2>
            <a href="#/playAICompResults" class="btn large" id="competeBtn">Compete</a>
            <a href="#/playAICompResults" class="btn large red" id="passBtn">Pass</a>
        </div>
    </div>
</div>