<div class="container">
    <div class="heading">
        <div class="title">
            Investment Results
        </div>
    </div>
    <div class="body">
        <div class="section">
            <h2>Current R&amp;D</h2>
            <a class="btn large blue">Level: {{ currentrd }}</a>
        </div>
        <div class="section">
            <h2>Researched</h2>
            <a class="btn large blue">Level: {{ gainedrd }}</a>
        </div>
        <div class="section">
            <a href="#/playAICompPrompt" class="btn large">Continue...</a>
        </div>
    </div>
</div>