<div class="container">
    <div class="heading">
        <div class="title">
            <h1>Welcome to the Tutorial!</h1>
        </div>
    </div>
    <div>

    </div>
    <div class="body">
        <div class="text-body">
            <p><strong class="rulesTitle">Meet Your Opponents</strong>
                <br>
                <img id="economistLineup" src="img/EconomistsLineup.png">
                <br>
                <br>
                they'll show you how to play the game.
                <br>
                then they'll be your first opponents!
            </p>
            <p><strong class="rulesTitle">Understanding your opponents</strong>
                to effectively play this game, you'll need to respond to different types of players; their preferences will influence how effective any given strategy might be.
                <br>
                <br>
                Consider the tutorial opponents (placement on this graph is not meant to reflect the actual dispositions of any real economists); their behavior will follow this rough approximation though playing against humans will add a new level of difficulty:
                <br>
                <br>
                <img id="personalities" src="img/economistpersonalities.png">
            </p>
            <p><strong class="rulesTitle">Have Fun!</strong>
                Strategy Games are just that... Games! Enjoy this one and you might learn something along the way.
            </p>
        </div>
        <ul>
            <li class="large">
                <a href="#/tutorialStats">Continue...</a>
            </li>
        </ul>
    </div>
</div>