<div class="container">
    <div class="heading">
        <div class="title">
            Round {{ thisround }} Results!
        </div>
    </div>
    <div class="body">
        <div id="global-score">
            <span>rank:</span>
            <h1>{{ playerRank }}</h1>
        </div>
        <div class="section">
            <a href="#/tutorialInvestPrompt" class="btn large" id="nextroundbtn">Next round</a>
            <a href="#/tutorialResults" class="btn large red" id="quitgamebtn">Exit The Market</a>
        </div>
        <div class="section">
            <h2>Revenue this Round</h2>
            <a class="btn large blue">${{ currrevenue }}</a>
        </div>
        <div class="section">
            <h2>Total Funds</h2>
            <a class="btn large blue">${{ curfunds }}</a>
        </div>

        <div class="section">
            <h2>Competed this round</h2>
            <a class="btn large blue">{{ currAmtComp }}</a>
        </div>
        <div class="section">
            <h2>Price</h2>
            <a class="btn large blue">${{ rndPrice }}</a>
        </div>


        <ul class="table">
            <li class="row head">
                <div class="col3">
                    Rank
                </div>
                <div class="col3">
                    Name
                </div>
                <div class="col3">
                    Score
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    1
                </div>
                <div class="col3">
                    {{ firstName }}
                </div>
                <div class="col3">
                    {{ firstScore}}
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    2
                </div>
                <div class="col3">
                    {{ secondName }}
                </div>
                <div class="col3">
                    {{ secondScore }}
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    3
                </div>
                <div class="col3">
                    {{ thirdName }}
                </div>
                <div class="col3">
                    {{ thirdScore }}
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    4
                </div>
                <div class="col3">
                    {{ fourthName }}
                </div>
                <div class="col3">
                    {{ fourthScore }}
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    5
                </div>
                <div class="col3">
                    {{ fifthName }}
                </div>
                <div class="col3">
                    {{ fifthScore }}
                </div>
            </li>
            <li class="row">
                <div class="col3">
                    6
                </div>
                <div class="col3">
                    {{ sixthName }}
                </div>
                <div class="col3">
                    {{ sixthScore }}
                </div>
            </li>
        </ul>
    </div>
</div>