<div class="container">
    <div class="heading">
        <div class="title">
            Starting Stats
        </div>
    </div>
    <div class="body">
        <div class="text-body">
            <p><strong class="rulesTitle">Starting Funds</strong> ${{ playerFunds }}</p>
            <p><strong class="rulesTitle">Some Advice</strong>Be sure to pay close attention to the instructions on the first turn. Your opponents will guide you and explain game mechanics along the way.</p>
        </div>
        <ul>
            <li class="white large">
                <a href="#/tutorialInvestPrompt">Start Game!</a>
            </li>
        </ul>
    </div>
</div>