<div class="container">
    <div class="heading">
        <div class="title">
            The Game
        </div>
    </div>
    <div class="body">
        <div class="text-body">
            <p>
                <strong class="rulesTitle">
                    Your Tutorial Opponents
                </strong>
                <br>
                <img id="economistLineup" src="img/EconomistsLineup.png">
                <br>
            </p>
            <p><strong class="rulesTitle">The Rules of the Game</strong>
                <br>
                <img class="econImg" src="img/RonaldCoase.png">
                <br>
                <p class="tutOppName">
                    - Ronald Coase
                </p>
            <div class="arrow-up"></div>
                <p class="rulesText">"This is the game of firms and markets. You will compete for dominance of an abstract commodities market. Here you have an opportunity to demonstrate your mastery of Strategy. Pay close attention to this guide, it'll help you understand each individual phase of the game."</p></p>
            <p><strong class="rulesTitle">Phase 1 - Research and Development</strong>
                <br>
                <img class="econImg" src="img/DavidRicardo.png">
                <br>
            <p class="tutOppName">
                - David Ricardo
            </p>
            <div class="arrow-up"></div>
                <p class="rulesText">"In the first phase, you will given the opportunity to invest funds into Research. The base cost for investing stays consistent, but the potential rewards vary! A strong investment result can launch your firm to dominance. Remember, a lower cost function is better than a higher one!"</p></p>
            <p><strong class="rulesTitle">Phase 2 - Competition</strong>
                <br>
                <img class="econImg" src="img/FrankKnight.png">
                <br>
            <p class="tutOppName">
                - Frank Knight
            </p>
            <div class="arrow-up"></div>
                <p class="rulesText">"After finishing the first Phase, you will be given a choice to compete in the market for that round. The more successful your research investments, the more successful, and profitable, you will be. Remember that it might sometimes be more wise to wait to compete."</p></p>
            <p><strong class="rulesTitle">Phase 3 - Round Results</strong>
                <br>
                <img class="econImg" src="img/AlfredMarshall.png">
                <br>
            <p class="tutOppName">
                - Alfred Marshall
            </p>
            <div class="arrow-up"></div>
                <p class="rulesText">
                "In this phase, you have an opportunity to take in the lay of the land and evaluate how successful you've been relative to your competitors. In this phase you will see how much revenue you generated that round as well as your relative position"</p></p>
            <p><strong class="rulesTitle">Phase 4 - After the round ends</strong>
                <br>
                <img class="econImg" src="img/FreidrichHayek.png">
                <br>
            <p class="tutOppName">
                - Freidrich Hayek
            </p>
            <div class="arrow-up"></div>
                <p class="rulesText">
                "After the results phase, you'll either begin a new round or, if the game has ended, you'll see the game results. In this first game, you'll be playing us, and you will play 6 rounds. In other games, you may play other user characters and the games may be longer... Good Luck!"</p></p>
        </div>
        <ul>
            <li class="large">
                <a href="#/tutorialStats">Continue...</a>
            </li>
        </ul>
    </div>
</div>