<div class="container" id="leaderboard">
    <div class="heading">
        <div class="title">
            Before we begin...
        </div>
    </div>
    <div class="body">
        <ul>
            <li class="large">
                <input id="betaUserName" type="text"
                       placeholder="User Name"
                       ng-model="tempName"
                       ng-change="changeName()"
                       onfocus="this.placeholder = ''">
            </li>
            <li class="large">
                <a href="#/menu">Set User Name</a>
            </li>
            <li class="large">
                <a href="#/menu">Use Default User Name</a>
            </li>
        </ul>
    </div>
</div>