<div class="" id="mainMenu">
    <div id="logo">
        <img id="main-logo" src="img/logo-plain.png">
    </div>
    <div id="main-nav">
        <h1>Welcome, {{ localusr }}</h1>
        <ul>
            <li id="play"><a href="#/play">Play<span class="ion-play"></span></a></li>
            <li id="lead"><a href="#/leaderboard">Leaderboard<span class="ion-android-clipboard"></span></a></li>
            <li id="account"><a href="#/accountStats">Account Stats<span class="ion-person"></span></a></li>
            <li id="settings"><a href="#/settings">Settings<span class="ion-gear-b"></span></a></li>
        </ul>
    </div>
    <!--<h1 id="mainMenuContent">The Main Menu</h1>-->
</div>