<div class="container" id="leaderboard">
    <div class="heading">
        <div class="title">
            Select Game Mode
            <a href="#/" class="return"><span class="ion-android-arrow-back"></span></a>
        </div>
    </div>
    <div class="body">
        <ul>
            <li class="large">
                <a href="#/tutorialStart">Tutorial - Beta</a>
            </li>
            <li class="blue large">
                <a class="comingSoon">Play vs. AI - Coming Soon</a>
            </li>
            <li class="blue large">
                <a class="comingSoon">Multiplayer - Coming Soon</a>
            </li>
        </ul>
    </div>
</div>